.profileImage {
    border-radius: 50%;
    width: 45vh;
    height: 45vh;
}

.profileImage_component{
    display: flex;
    text-align: center;
    justify-content: left;
    margin-left: 30vh;
    margin-top: 10vh;
    width: 45vh;
    height: 45vh;
}

@media only screen and (max-width: 768px) {
    .profileImage_component{
        width: 100%;
        margin-left: 0vh;
        margin-top: 0vh;
        align-items: center;
    }

    .profileImage{
        zoom: .75;
    }
}