.educationContainer{
    display: flex;
    flex-direction: column;
    text-align: center;
    align-content: center;
    width: 110vh;
    font-family: 'Roboto Mono', monospace;
}

.educationTitle{
    font-size: 2.3rem;
    font-weight: bold;
    align-items: center;
    border-bottom: 2px solid black;
    border-bottom-left-radius: 5%;
    border-bottom-right-radius: 5%;
    width: 100%;
    margin-bottom: 5vh;
}

.ant-timeline-item-tail{
    transform: scale(1.2);
}

.ant-timeline-item-head{
    transform: scale(1.6);
}

.educationElement{
    margin-top: -2vh;
    font-size: 1rem;
}

.educationContainer .ant-timeline-item{
    font-size: 1.5rem;
}

@media only screen and (max-width: 768px) {
    .educationContainer{
        width: 100%;
        padding: 2vh;
        margin-top: -7.5vh;
    }

    .educationTitle{
        font-size: 1.5rem;
        margin-bottom: 2.5vh;
    }

    .educationContainer .ant-timeline-item{
        font-size: 1.1rem;
    }
}