.personalDescriptionContainer{
    font-size: 2rem;
    max-width: 90vh;
    font-family: 'Signika Negative', sans-serif;
}

.name{
    font-size: 4rem;
    color: black;
    border-bottom: 5px solid red;
    width: 70vh;
    margin-bottom: 2vh;
}

@media only screen and (max-width: 768px) {
    .name{
        text-align: center;
        font-size: 2.5rem;
        width: 100%;
    }

    .personalDescriptionContainer{
        max-width: 100%;
        font-size: 1.2rem;
        text-justify:distribute-all-lines;
        padding: 4vh;
        margin-top: -6vh;
        width: 100%;
    }
}