.prizesContainer{
    display: flex;
    flex-direction: column;
    text-align: center;
    align-content: center;
    width: 100vh;
}

.prizesTitle{
    font-size: 3rem;
    align-items: center;
    border-bottom: 2px solid black;
    border-bottom-left-radius: 5%;
    border-bottom-right-radius: 5%;
    width: 100%;
    margin-bottom: 5vh;
}

.prizesElement{
    margin-top: -2vh;
    font-size: 1rem;
}

.prizesContainer .ant-timeline-item{
    font-size: 1.5rem;
}