.skillsContainer{
    display: flex;
    flex-direction: column;
    text-align: center;
    align-content: center;
    width: 110vh;
    margin-bottom: 10vh;
    font-family: 'Roboto Mono', monospace;
}

.skillTitle{
    font-size: 1.7rem;
    font-family: 'Josefin Sans', sans-serif;
    align-items: center;
    width: 100%;
}

.skillsCategory{
    font-size: 2.3rem;
    font-weight: bold;
    align-items: center;
    border-bottom: 2px solid black;
    border-bottom-left-radius: 5%;
    border-bottom-right-radius: 5%;
    width: 100%;
}

.skillsElement{
    margin-top: -2vh;
    font-size: 1rem;
    font-family: 'Roboto Mono', monospace;
}

.programmingLanguages{
    display: grid;
    grid-template-columns: repeat(5, auto);
    align-items: center;
    justify-content: center;
    grid-gap: 8vh;
}

.programmingLanguagesTitle{
    text-align: left;
    font-size: 1.7rem;
    font-family: 'Josefin Sans', sans-serif;
}

.pythonLogo{
    width: 20vh;
}

.cppLogo{
    width: 10vh;
}

.javaLogo{
    width: 15vh;
}

.javascriptLogo{
    width: 10vh;
}

.skillTitle:hover{
}
