.navBar{
    background: linear-gradient(0deg, rgb(250, 0, 0) 0%, rgb(190, 57, 86) 100%);
    z-index: 999;
    display: flex;
    justify-content: center;
    font-size: 2rem;
    top: 0vh;
    height: 12vh;
    font-family: 'Righteous', cursive;
    margin-top: -3.5vh;
    /*position: sticky;*/
}

.nav_container{
    display: flex;
    justify-content: center;
    align-items: center;
}

.nav_menu{
    display: grid;
    grid-template-columns: repeat(3, auto);
    align-items: center;
    justify-content: center;
    grid-gap: 10vh;
    margin-top: 3vh;
}

.nav_item{
    align-items: center;
    justify-content: center;
    list-style-type: none;
    margin-bottom: 1vh;
}

.nav_link{
    color: rgb(255, 255, 255);
    display: flex;
    align-items: center;
    text-decoration: none;
}

.nav_link:hover {
    /*color: rgb(0, 0, 0);*/
    transition: 0.3s ease-in-out;
    color: rgb(0, 0, 0);
  }